@font-face {
    font-family: "base";
    src: url("Base 02.ttf") format("truetype");
}

h1 {
    font-family: "base";
}

.botaoInformacao {
    border: none;
    outline: none;
    color: black;
    font-size: 20px;
    font-align: right;
    font-weight: bold;
    background-color: inherit;
    vertical-align: bottom;
}

.botaoJogador {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    outline: none;
    font-size: 20px;
    cursor: pointer;
    background-color: inherit;
    vertical-align: bottom;
}

.botaoJogador2 {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    outline: none;
    font-size: 24px;
    cursor: pointer;
    background-color: inherit;
    vertical-align: bottom;
}

#tabuleiroJogador1 {
    display: inline-block;
    outline: none;
    text-align: center;
    width: 35%;
}

#tabuleiroJogador2 {
    display: inline-block;
    text-align: center;
    width: 35%;
}

#espaco1 {
    display: inline-block;
    width: 1%;
}

#espaco2 {
    display: inline-block;
    width: 0.5%;
}

#informacoes {
    display: inline-block;
    outline: none;
    width: 25%;
    vertical-align: top;
}

#informacoesJogadorDiv {
    height: 50%;
    width: 100%;
}

#informacoesJogador2Div {
    height: 50%;
    width: 100%;
}

#informacoesJogador1 {
    width: 100%;
    height: 90%;
    outline: none;
    resize: none;
    font-size: 16px;
}

#informacoesJogador2 {
    width: 100%;
    height: 90%;
    outline: none;
    resize: none;
    font-size: 16px;
}

h1 {
    text-align: center;
}